@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap');

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Regular.ttf') format ('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans Bold';
	src: url('../fonts/OpenSans-Bold.ttf') format ('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans ExtraBold';
	src: url('../fonts/OpenSans-ExtraBold.ttf') format ('truetype');
	font-weight: 800;
	font-style: normal;
}
/* **Smartphones Vertical Screen** */
@media screen and (max-width: 320px) {
	html {
		font-size: 10px;
    }
    .nav-container  {
        margin: 5px auto 0;
    }
   	.main-menu > a {
        min-width: 80%;
        margin: auto;
        padding: 8px 0;
    }
    .main-menu a:hover	{
        font-size: 0.875rem;
        padding-bottom: 8px;
        -webkit-transition-duration: 1s; /* Safari */
        transition-duration: 1s;
    }
	.copyright {
		max-width: 220px;
		margin: auto;
		text-align: center;
	}
	.social-logos {
		margin: -60px auto 10px;
	}
	.form1-input-box {
		margin-right: 0;
		margin-bottom: 15px;
    }
    .button-box {
        min-width: 150px;
        min-height: 38px;
    }
    .intro-container {
        background-color: #e0e0e0;
    }
    .our-organization   {
        font-size: 2.3rem;
        letter-spacing: 0;
    }
    .video-link-box {
        width: 73vw;
        height: 48.457vw;
        margin: auto;
    }
    .video-link {
        padding-top: 12vw;
    }
    .first-form1-text, .first-form2-text {
        font-size: 2rem;
    }
    .right-contant-info-container   {
        width: 100%;
        margin: auto;
        padding-left: 6.95vw;
    }
    .logo-container {
        width: 12px;
        height: 12px;
        margin: 10% 5px 10px 5px;
        float: none;
        display: inline-block;
    }
   .view-position   {
       min-width: 150px;
       margin: 10px auto;
    } 
}
/* **Smarphones Vertical and Horisontal** */
@media screen and (min-width: 320.02px) and (max-width: 480px) {
	html {
		font-size: 10px;
    }
    .nav-container  {
        margin: 10px auto 0;
    }
    .main-menu > a {
           min-width: 60%;
           margin: auto;
           padding: 8px 0;
    }
    .main-menu a:hover	{
        font-size: 0.875rem;
        padding-bottom: 8px;
        -webkit-transition-duration: 1s; /* Safari */
        transition-duration: 1s;
    }
	.form2-and-contact-container {
		background-color: #ffffcc;
	}
	.form1-input-box, .first-form2-text {
		margin-right: 0;
		margin-bottom: 15px;
    }
    .button-box {
        min-width: 150px;
        min-height: 38px;
    }
	.left-form-container {
		margin: auto;
		justify-content: space-around;
	}
	.send-message {
		width: 46.7vw;
		margin-bottom: 2.67vw;
	}
	.box-message {
		width: 42.4vw;
	}
	.right-contant-info-container > p {
		line-height: 3vw;
    }
    .intro-container {
        background-color: #ffffcc;
    }
    .our-organization   {
        font-size: 2.5rem;
        letter-spacing: 0;
    }
    .video-link-box {
        width: 77vw;
        height: 48.457vw;
        margin: auto;
    }
    .video-link {
        padding-top: 12vw;
    }
    .first-form1-text, .first-form2-text {
        font-size: 2.2rem;
    }
    .right-contant-info-container {
        width: 100%;
        margin: auto;
        padding-left: 6.95vw;
    }
    .logo-container {
        width: 16px;
        height: 16px;
        margin: 10% 5px 10px 5px;
        float: none;
        display: inline-block;
   }
   .view-position   {
       min-width: 150px;
       margin: 10px auto;
    }
}
/* **Tablets** */
@media screen and (min-width: 480.02px) and (max-width: 767.98px) {
	html {
		font-size: 12px;
    }
    .nav-container  {
        margin: 10px auto 0;
    }
    .main-menu > a {
        padding: 42px 25px 30px;
    }
    .main-menu a:hover	{
        font-size: 0.95rem;
        text-shadow: 2px 2px 5px black;
        padding-bottom: 10px;
        -webkit-transition-duration: 1s; /* Safari */
        transition-duration: 1s;
    }
    .form2-and-contact-container {
        background-color: #ffe6ff;
    }
	.form1-input-box {
		margin-right: 0;
		margin-bottom: 15px;
    }
    .button-box {
        min-width: 150px;
        min-height: 35px;
    }
    .intro-container {
        background-color: #ffe6ff;
    }
    .our-organization   {
        font-size: 2.4rem;
        letter-spacing: 0.03em;
    }
    .video-link-box {
        min-width: 280px;
        min-height: 181px;
    }
    .video-link {
        padding-top: 7vw;
    }
    .left-upper-content-box {
        width: 48%;
    }
    .first-form1-text, .first-form2-text {
       font-size: 2.5rem;
    }
    .right-contant-info-container {
        width: 30%;
        min-width: 150px;
        min-height: 150px;
        padding-left: 6.95vw;
        margin-top: 15px;
        padding-bottom: 2vw;
        margin-left: 10.17vw;
    }
    .logo-container {
        width: 20px;
        height: 20px;
        margin: 20% 0 10px 9%;
        float: right;
    }
    .view-position {
        min-width: 150px;
    }
}
/* **iPods, Tablets Vertical and Horisontal** */
@media screen and (min-width: 768px) and (max-width: 1023.98px){
	html {
		font-size: 12px;
    }
    .nav-container  {
        margin: 10px auto 0;
    }
    .main-menu > a {
        padding: 42px 25px 30px;
    }
    .main-menu a:hover	{
        font-size: 0.925rem;
        padding-bottom: 26px;
        -webkit-transition-duration: 1s; /* Safari */
        transition-duration: 1s;
    }
	.form2-and-contact-container {
		background-color: #d2f9d2;
	}
	.form1-input-box {
		margin-right: 0;
		margin-bottom: 15px;
    }
    .button-box {
        min-width: 150px;
        min-height: 25px;
    }
	.intro-container {
        background-color: #d2f9d2;
    }
    .our-organization   {
        font-size: 2.9rem;
        letter-spacing: 0.08em;
    }
    .video-link-box {
        min-width: 341px;
        min-height: 225px;
    }
    .video-link {
        padding-top: 7.5vw;
    }
    .left-upper-content-box {
        width: 51.3%;
    }
    .first-form1-text, .first-form2-text {
        font-size: 2.625rem;
    }
    .right-contant-info-container {
        width: 30%;
        padding-left: 6.95vw;
    }
    .logo-container {
        width: 24px;
        height: 24px;
        margin: 17% 0 10px 9%;
        float: right;
    }
    .view-position {
        min-width: 250px;
    }
}
/* **Notebooks** */
@media screen and (min-width: 1024px) and (max-width: 1439.98px) {
	html {
        font-size: 14px;       
    }
    .nav-container  {
        margin: 10px auto 0;
    }
    .main-menu > a {
        padding: 42px 25px 30px;
    }
    .main-menu a:hover	{
        font-size: 0.9rem;
        padding-bottom: 26px;
        -webkit-transition-duration: 1s; /* Safari */
        transition-duration: 1s;
    }
    .button-box {
        min-width: 150px;
        min-height: 35px;
    }
    .intro-container {
        background-color: #ffe6cc;
    }
    .form2-and-contact-container {
        background-color: #ffe6cc;
    }
    .video-link-box {
        width: 450px;
        height: 291px;
    }
    .video-link {
        padding-top: 7.5vw;
    }
    .our-organization   {
        font-size: 3.3rem;
        letter-spacing: 0.08em;
    }
    .left-upper-content-box {
        width: 51.49%;
    }
    .first-form1-text, .first-form2-text {
        font-size: 2.625rem;
    }
    .right-contant-info-container {
        width: 30%;
        padding-left: 6.95vw;
    }
    .logo-container {
        width: 24px;
        height: 24px;
        margin: 20% 0 10px 9%;
        float: right;
    }
    .view-position {
        min-width: 250px;
    }
}
/* **Desktops and Wide Screen Devices** */
@media screen and (min-width: 1440px) {
	html {
        font-size: 16px;
    }
    .nav-container  {
        margin: 10px auto 0;
    }
    .main-menu > a {
        padding: 42px 25px 30px;
    }
    .main-menu a:hover	{
        font-size: 0.875rem;
        padding-bottom: 26px;
        -webkit-transition-duration: 1s; /* Safari */
        transition-duration: 1s;
    }
    .form2-and-contact-container {
        background-color: white;
    }
    .button-box {
        min-width: 150px;
        min-height: 35px;
    }
    .intro-container {
        background-color: #f6f2f2;
    }
    .our-organization   {
        font-size: 3.75em;
        letter-spacing: 0.08em;
    }
    .video-link-box {
        width: 34.18vw;
        height: 22.085vw;
        min-width: 540px;
   }
    .video-link {
        padding-top: 8.933vw;
    }
    .left-upper-content-box {
        width: 54%;
    }
    .f.first-form1-text, .first-form2-text {
        font-size: 2.625rem;
    }
    .right-contant-info-container {
        width: 30%;
        padding-left: 6.95vw;
    }
    .logo-container {
        width: 33px;
        height: 33px;
        /* margin: 36px 0 10px 16px; */
        margin: 20% 0 10px 9%;
        float: right;
    }
    .view-position {
        min-width: 250px;
    }
}

/* ++++++++++++++++++++++ */
/* ++++++++++++++++++++++ */

body {
    height: 100%;
	margin: 0;
	background-color: white;
	font-family: 'OpenSans', Hevetica, Arial, sans-serif;
}
header, footer	{
	/*min-width: 375px;
	max-width: 1579px;*/
	width: 100%;
}

h2 {
	font-size: 2.625rem;
}
h3 {
	font-size: 1.3rem;   	
}
p {
    font-size: 1rem;
    line-height: 1.75em;
	font-style: normal;
	margin: 0;
}
ul  {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li > a   {
    width: 20px;
    height: 36px;
    display: block;
}
/*  ** NAVIGATION HEADER section **  */

.top-container {
	padding-top: 1.8366%;
	background-color: #F6F2F2;
}
.nav-container {
	max-width: 81%;
    margin: 10px auto 0;
}
.main-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
	background-color: #313030;
	text-align: center;
}
.main-menu > a {
	font-size: 0.875rem;
	color: #e0e0e0; 
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}
.main-menu a:hover	{
    color: white;
    text-shadow: 2px 2px 5px black;
	background-color: #ff3f40;
}

/*  ** INTRO UPPER section **  */

.upper-container	{
	/*max-width: 1579px;*/
    width: 100%;
    background-color: #F6F2F2;
}
.intro-container {
	width: 81%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.left-upper-content-box	{
    margin-bottom: 6%;
}
.our-organization   {
    margin: 13.5% 0 0 0;
	text-transform: uppercase;
    font-weight: 800;
}
.right-video-box {
	margin-top: 9.2%;
}
.first-comment {
	width: 83%;
    padding-bottom: 8%;
    padding-top: 5%;
 }
/*.contact-button	{
	text-align: center;
	margin-top: 111px;
}*/
.contact-link {
	padding: 1.085vw 4.16vw;
    border-radius: 0.5vw;
    font-weight: bold;
    font-size: 1.1rem;
	text-transform: capitalize;
	text-decoration: none;
	color: white;
	background-color: #ff2d2d;
}
a:hover {
	padding-bottom: 16px;
	font-size: 1.25rem;
	padding-bottom: 16px;
	text-shadow: 2px 2px 5px black;
	-webkit-transition-duration: 1s; /* Safari */
	transition-duration: 1s;
}
.video-link-box {
    margin-bottom: 20%;
	box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
    background-color: #c4c0b1;
    background-image: url('../images/play_white.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 15%;
}
.video-link {
	width: 72px;
    height: 72px;
    margin: 0 auto;
    /* **padding-top: 8.933vw;** */
}
.video-link div:hover	{
    box-shadow: #2C2C2C;
}
.play-botton	{
    width: 100px;
    height: 100px;
	padding: 0;
	margin: 0;
}
.subscribe {
	width: 100%;
	background-color: #2C2C2C;
	text-align: center;
}
.first-form1-text {
	text-align: center;
	margin: auto;
	padding: 6.305vw 0 1.01vw 0;
	color: #FFF;
	font-weight: bold;
	letter-spacing: 1.05px;
}
.form1-text {
	padding-bottom: 3.475vw;
	color: #FFF;
	margin: auto;
	line-height: 1.75em;
}
.form1-input-box {
	width: 32.385vw;
    min-width: 180px;
    height: 5.03vw;
    min-height: 35px;
    margin-right: 0.9vw;
    padding-left: 2.36vw;
    border-radius: 0.5vw;
	color: #2C2C2C;
	border: none;
}
.form1 {
	width: 13.465vw;
    height: 5.35vw;
    margin-bottom: 6.205vw;
    text-align: center;
    border-radius: 0.5vw;
	border: none;
	font-weight: bold;
	font-size: 1.15em;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	background-color: #ff2d2d;
	vertical-align: baseline;
}
.form2-and-contact-container {
    width: 100%;
}
.first-form2-text {
	margin: auto 0;
    padding: 5vw 0 0 10.17vw;
    text-transform: uppercase;
}
.form2-text {
	width: 45%;
    line-height: 1.75em;
    padding-left: 10.17vw;
}
.red-dash {
	padding: 1.235vw 0 0 10.17vw;
	color: #ff2d2d;
}

/*  ** GET IN TOUCH section **  */
.get-in-touch-container {
    width: 100%;
    padding-top: 3.45vw;
    padding-bottom: 6.6vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.left-form-container {
	width: 57%;
	min-width: 480px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.right-contant-info-container {
    background-color: #2C2C2C;
    color: white;
}
.right-contant-info-container > p {
	padding-bottom: 1.235vw;
    line-height: 1.5em;
    font-style: italic;
}
.contact {
	margin: 0;
    padding: 8.56vw 0 2.5vw;
   	text-transform: uppercase;
}
.form2 {
	padding-left: 10.17vw;

}
.input-box {
	height: 4.405vw;
    padding-top: 0.75vw;
    padding-left: 3.475vw;
    margin-bottom: 2.67vw;
    border-radius: 0.5vw;
	border: none;
	background-color: rgb(229, 229, 229);

}
.name-email {
	width: 17.38vw;
    font-size: 1.125rem;
}
.name-email:first-child {
	margin-right: 3.025vw;
}
.box-message {
	width: 41.75vw;
    height: 15.632vw;
    padding-left: 3.475vw;
    margin-bottom: 2.67vw;
    border-radius: 0.5vw;
    border: none;
    font-size: 1.125rem;
    background-color: rgb(229, 229, 229);
}
.send-message {
	width: 45.225vw;
	margin: auto;
	padding: 1.55vw 0;
	border: none;
	border-radius: 0.5vw;
	background-color: #FF3B3B;
	font-size: 1.125rem;
	font-weight: bold;
	text-align: center;
	color: white;
	letter-spacing: 0.317046px;
	text-transform: uppercase;
}
.bottom-container {
	background-color: #313030;
}
.footer-wrapping {
	width: 81%;
	min-width: 351px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.copyright {
	box-sizing: border-box;
    padding: 6.92% 0 4.5%;
	font-size: 1rem;
	font-weight: normal;
	font-style: normal;
	line-height: 26px;
	color: #b8b8b8;
}
.social-logos   {
    width: 30%;
}
.twitter    {
    background-image: url("../images/twitter_33.svg");
    background-repeat: no-repeat;
}
.instagram    {
    background-image: url("../images/insta_33.svg");
    background-repeat: no-repeat;
}
.google    {
    background-image: url("../images/google_33.svg");
    background-repeat: no-repeat;
}
.facebook    {
    background-image: url("../images/facebook_33.svg");
    background-repeat: no-repeat;
}
ul li:hover {
    margin-right: 5px;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
}